<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DecidedZoneMapper" >

<!-- 基本的sql语句 Start-->
<!-- 最全数据库映射，这个映射不做sql片段使用，仅仅是声明，底下所有出现的字段都需要在这里显示， -->
  <sql id="Property_Column_Map" >
  <!-- 表字段 -->
       
  </sql>
  <sql id="Base_DecidedZone">
  a.id  id,a.decided_zone_id  decidedZoneId,a.decided_zone_name  decidedZoneName,a.region_id  regionId
  </sql>
  <!-- 然后是特定数据库映射 -->
 <!-- 基本的sql语句  End-->
<!-- ****************************************************************-->
 <!-- select查询语句 Start-->
<!-- huchao -->
<!-- 根据定区表组查询表信息 -->
   <select id="queryDecidedZoneByCond" resultType="java.util.Map" parameterType="java.util.Map">
   	select <include refid="Base_DecidedZone"/> from decided_zone a
   	where 1=1  
		<if test="decidedZoneId != null and decidedZoneId != '' " >
		    and  a.decided_zone_id = #{decidedZoneId}   
	     </if>
		<if test="decidedZoneName != null and decidedZoneName != '' " >
		    and  a.decided_zone_name = #{decidedZoneName}   
	     </if>
		<if test="regionId != null and regionId != '' " >
		    and  a.region_id = #{regionId}   
	     </if>
      order by a.id asc
	<if test="pageFlag == 'true' ">
	  	limit #{startRow} ,#{pageSize} 
	</if> 
   </select>
   
   <!-- 关联表查询 -->
   <select id="queryDecidedZoneInfoByCond" resultType="java.util.Map" parameterType="java.util.Map">
   	select a.id  id,a.decided_zone_id  decidedZoneId,a.decided_zone_name  decidedZoneName,
   	a.region_id  regionId
   	<if test="subareaIdList != null">
   	,b.subarea_id subareaId
   	</if>
   	from decided_zone a
   	<if test="subareaIdList != null">
   	,subarea b,subarea_decided_rela c
   	</if>
   	where 1=1  
   	<if test="decidedZoneId != null and decidedZoneId != '' " >
		    and  a.decided_zone_id = #{decidedZoneId}   
	     </if>
		<if test="decidedZoneName != null and decidedZoneName != '' " >
		    and  a.decided_zone_name = #{decidedZoneName}   
	     </if>
		<if test="regionId != null and regionId != '' " >
		    and  a.region_id = #{regionId}   
	     </if>
	     
		<if test="subareaId != null and subareaId != '' " >
		    and  b.subarea_id = #{subareaId}   
	     </if>
	     
	    <if test="subareaIdList != null">
			and a.decided_zone_id = c.decided_zone_id
   			and b.subarea_id =c.subarea_id
		  	and 
		  	b.subarea_id in 
			  	( 
			  	<foreach collection="subareaIdList" item="subareaId" index="index"
				 separator=",">
				#{subareaId,jdbcType=VARCHAR} 
				</foreach>
				)
		</if>	
      order by a.id asc
	<if test="pageFlag == 'true' ">
	  	limit #{startRow} ,#{pageSize} 
	</if> 
   </select>
<!-- huchao -->
 
 
 <!-- select查询语句 End-->
<!-- ****************************************************************-->
 <!-- insert插入语句 Start-->
<insert id="insertDecidedZone" parameterType="java.util.Map" >
    insert into decided_zone
    <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="decidedZoneId != null and decidedZoneId != '' " >
	        decided_zone_id   ,
        </if>
	    <if test="decidedZoneName != null and decidedZoneName != '' " >
	        decided_zone_name   ,
        </if>
	    <if test="regionId != null and regionId != '' " >
	        region_id   ,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
	   <if test="decidedZoneId != null and decidedZoneId != '' " >
	       #{decidedZoneId}  ,
      </if>
	   <if test="decidedZoneName != null and decidedZoneName != '' " >
	       #{decidedZoneName}  ,
      </if>
	   <if test="regionId != null and regionId != '' " >
	       #{regionId}  ,
      </if>
    </trim>
  </insert>
  
  
  <insert id="insertSubareaDecidedRela" parameterType="java.util.Map" >
    insert into subarea_decided_rela
    <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="decidedZoneId != null and decidedZoneId != '' " >
	        decided_zone_id   ,
        </if>
	    <if test="subareaId != null and subareaId != '' " >
	        subarea_id   ,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
	   <if test="decidedZoneId != null and decidedZoneId != '' " >
	       #{decidedZoneId}  ,
      </if>
	   <if test="subareaId != null and subareaId != '' " >
	       #{subareaId}  ,
      </if>
    </trim>
  </insert>
 <!-- insert插入语句 End-->
<!-- ****************************************************************-->
 <!-- update修改语句 Start-->
 <!-- 修改表的数据信息 -->
 <update id="updateByDecidedZoneId"  parameterType="java.util.Map" >
    update decided_zone 
    <set >
		<if test="decidedZoneId != null and decidedZoneId != '' " >
		     decided_zone_id = #{decidedZoneId} ,
	    </if>
		<if test="decidedZoneName != null and decidedZoneName != '' " >
		     decided_zone_name = #{decidedZoneName} ,
	    </if>
		<if test="regionId != null and regionId != '' " >
		     region_id = #{regionId} ,
	    </if>
    </set>
    where 
     decidedZone_id = #{decidedZoneId}
  </update>
 
 
 <update id="updateBySubareaDecidedRelaId"  parameterType="java.util.Map" >
    update subarea_decided_rela 
    <set >
		<if test="decidedZoneId != null and decidedZoneId != '' " >
		     decided_zone_id = #{decidedZoneId} ,
	    </if>
		<if test="subareaId != null and subareaId != '' " >
		     subarea_id = #{subareaId} ,
	    </if>
    </set>
    where 
     subareaDecidedRela_id = #{subareaDecidedRelaId}
  </update>
 <!-- update修改语句 End-->
<!-- ****************************************************************-->
 <!-- delecte删除语句 Start-->
 <delete id="deleteById" parameterType="java.util.Map" >
      DELETE FROM decided_zone 
      WHERE id = #{id}
   </delete>
   
   <delete id="deleteRelaById" parameterType="java.util.Map" >
      DELETE FROM subarea_decided_rela 
      WHERE id = #{id}
   </delete>
 <!-- delecte删除语句 End-->
</mapper>