<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis全局配置文件 -->
<configuration>
	<settings>
		<setting name="callSettersOnNulls" value="true" />
	</settings>
	<!-- 定义别名 -->
	<!-- <typeAliases>
		批量配置 指定pojo所在包路径，自动扫描包下的pojo定义别名，别名为类名（首字母小写或大写都可以）
		<package name="cn.huchao.domain" />
		如果扫描多个包中的pojo，就写多个 package
	</typeAliases>
 -->
 <!-- 配置映射文件 -->
	<mappers>
		<mapper resource="mapper/testMapper.xml"/>
		<mapper resource="mapper/UserMapper.xml"/>
		<mapper resource="mapper/StaffMapper.xml"/>
		<mapper resource="mapper/RegionMapper.xml"/>
		<mapper resource="mapper/SubareaMapper.xml"/>
		<mapper resource="mapper/DecidedZoneMapper.xml"/>
	</mappers>
</configuration>
