<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StaffMapper" >
<!-- 基本的sql语句 Start-->
<!-- 最全数据库映射，这个映射不做sql片段使用，仅仅是声明，底下所有出现的字段都需要在这里显示， -->
  <sql id="Property_Column_Map" >
  <!-- 表字段 -->
       
  </sql>
  <sql id="Base_Staff">
    a.staff_id staffId, a.staff_name staffName, a.staff_phone staffPhone, a.haspda haspda, a.status status, 
    a.station station, a.standard standard
  </sql>
  <!-- 然后是特定数据库映射 -->
 <!-- 基本的sql语句  End-->
<!-- ****************************************************************-->
 <!-- select查询语句 Start-->
<!-- huchao -->
<!-- 根据取派员表组查询表信息 -->
   <select id="queryStaffByCond" resultType="java.util.Map" parameterType="java.util.Map">
   	select <include refid="Base_Staff"/> from staff a
   	where 1=1  
   	<if test="staffId != null" >
       and  a.staff_id = #{staffId,jdbcType=VARCHAR}
      </if>
   	<if test="staffName != null" >
      and  a.staff_name = #{staffName,jdbcType=VARCHAR}
      </if>
      <if test="staffPhone != null" >
      and  a.staff_phone = #{staffPhone,jdbcType=VARCHAR}
      </if>
      <if test="haspda != null" >
     and   a.haspda = #{haspda,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
      and  a.status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="station != null" >
      and  a.station = #{station,jdbcType=VARCHAR}
      </if>
      <if test="standard != null" >
      and a.standard = #{standard,jdbcType=VARCHAR}
      </if>
      order by a.staff_id asc
	  <if test="pageFlag == 'true' ">
			limit #{startRow,jdbcType=VARCHAR},#{pageSize,jdbcType=VARCHAR}
	</if>
   </select>
<!-- huchao -->
 
 
 <!-- select查询语句 End-->
<!-- ****************************************************************-->
 <!-- insert插入语句 Start-->
<insert id="insertStaff" parameterType="java.util.Map" >
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="staffId != null  and staffId != '' " >
        staff_id,
      </if>
      <if test="staffName != null  and staffName != '' " >
        staff_name,
      </if>
      <if test="staffPhone != null  and staffPhone != '' " >
        staff_phone,
      </if>
      <if test="haspda != null  and haspda != '' " >
        haspda,
      </if>
      <if test="status != null  and status != '' " >
        status,
      </if>
      <if test="station != null  and station != '' " >
        station,
      </if>
      <if test="standard != null  and standard != '' " >
        standard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="staffId != null  and staffId != '' " >
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null  and staffName != '' " >
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffPhone != null  and staffPhone != '' " >
        #{staffPhone,jdbcType=VARCHAR},
      </if>
      <if test="haspda != null  and haspda != '' " >
        #{haspda,jdbcType=VARCHAR},
      </if>
      <if test="status != null  and status != '' " >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="station != null  and station != '' " >
        #{station,jdbcType=VARCHAR},
      </if>
      <if test="standard != null and standard != '' " >
        #{standard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


 
 <!-- insert插入语句 End-->
<!-- ****************************************************************-->
 <!-- update修改语句 Start-->
 <!-- 修改表的数据信息 -->
 <update id="updateByStaffId" resultType="java.util.Map" parameterType="java.util.Map" >
    update staff a
    <set >
      <if test="staffName != null" >
        a.staff_name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffPhone != null" >
        a.staff_phone = #{staffPhone,jdbcType=VARCHAR},
      </if>
      <if test="haspda != null" >
        a.haspda = #{haspda,jdbcType=VARCHAR},
      </if>
      <if test="deltag != null" >
        a.deltag = #{deltag,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        a.station = #{station,jdbcType=VARCHAR},
      </if>
      <if test="standard != null" >
        a.standard = #{standard,jdbcType=VARCHAR},
      </if>
    </set>
    where a.staff_id = #{staffId,jdbcType=VARCHAR}
  </update>
 
 
 
 <!-- update修改语句 End-->
<!-- ****************************************************************-->
 <!-- delecte删除语句 Start-->
 
 <!-- delecte删除语句 End-->
</mapper>