<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
		
	<!-- 解决使用responseBody时出现中文响应乱码的情况,应放置在mvc注解器之前 -->	
		 <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">  
        <property name="messageConverters">  
            <list>  
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">  
                    <property name="supportedMediaTypes">  
                        <list>  
                            <value>text/html;charset=UTF-8</value>  
                        </list>  
                    </property>  
                </bean>  
            </list>  
        </property>  
    </bean>  
	<mvc:annotation-driven></mvc:annotation-driven>	
		
		
		
	<!-- 注解处理器映射器和适配器，为了使用注解进行url映射和handler适配 -->
	<!-- <mvc:annotation-driven>
		消息转换器，防止响应中文乱码
	     <mvc:message-converters register-defaults="true">
	    <bean class="org.springframework.http.converter.StringHttpMessageConverter">
	      <property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
	    </bean>
	   </mvc:message-converters>
     </mvc:annotation-driven> -->
     
     
     

	
	
	
	
<!-- 注解只扫描表现层的Controller，将其变成bean类 -->
	<context:component-scan base-package="cn.huchao.action" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	
<!--  ViewResolver视图解析器，解析jsp视图,能对返回的逻辑视图进行转到相应的jsp上,简化jsp的写法 
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		指定视图路径前缀
		<property name="prefix" value="/WEB-INF/jsp/" />
		指定视图路径后缀
		<property name="suffix" value=".jsp" />
	</bean>
	 -->
	<!-- Multipart解析器 文件上传-->
		<bean id="multipartResolver"
			class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<!-- 设置上传文件的最大尺寸为5MB -->
			<property name="maxUploadSize">
				<value>5242880</value>
			</property>
		</bean>
	
</beans>